.aboutUs-container{
    background-color: rgb(8, 155, 8);
    margin-top: 220px;
    margin-bottom: 150px;
    padding-top: 20px;
    padding-bottom: 30px;  
}

.shopImage{
    margin-top: -200px;
    position: relative;
    top: 30px;
    max-width: 500px;
    height: auto;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}

.aboutUs-row-2, .aboutUs-row-1{
    display: flex;
}

.aboutUs-col-1, .aboutUs-col-2, aboutUs-col-3{
    justify-content: center;
}

.aboutUs-col-3{
    align-items: center;
}

.aboutUs-description{
    max-width: 80%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.822);
}

.aboutUs-col-1{
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;

    color: #fff;
    /* margin-bottom: 20px; */
    margin-top: 10px;
}