.outer-benificts{
    height: 100px !important;
    min-width: 100%;
    background-color: #554C4C !important;
    /* margin-bottom */
    margin-bottom: 170px;       
}


.main-nav-2{
    width: 1000px;
}

.benifict-text{
    color: #fff !important;
}
.nav-title-2{
    width: 150px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 0;
    text-align: center;
    padding: 0;
    color: #fff !important;
}


.benifict-icon{
    color: #0f0;
    height: 25px;
    margin-bottom: 10px;
}

.benifict-icon:hover{
    color: rgba(0, 255, 0, 0.733);
}

.add-curser{
    cursor: default;
}