.card-item{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: rgba(255, 255, 255, 0.815);
}

.btn-cart{
    width: 100%;
    color: rgb(8, 155, 8);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px!important;
    /* background-color: rgb(5, 199, 5); */
    /* border-color: rgb(5, 199, 5); */
    background-color: transparent;
    /* border-color: rgba(0, 0, 0, 0.158) ; */
    border: 2px solid rgba(8, 155, 8, 0.205);
    box-shadow: rgba(0, 0, 0, 0.151) 0px 4px 12px;
}

.btn-cart:hover{
    background-color: rgb(8, 155, 8);
    border-color: rgb(8, 155, 8);

}

.card-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.item-con{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.weight{
    text-align: left;
}

.price{
    text-align: right;
}

.item-con{
    padding: 0;
    margin-bottom: 10px;
}

.card-image{
    padding: 12% 12% 0 12%;
}

.card-image {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.281));
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.281));
}

