.card-item{
    margin: auto;
}

.btn-cart{
    width: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px!important;
    background-color: rgb(5, 199, 5);
    border-color: rgb(5, 199, 5);
}

.btn-cart:hover{
    background-color: rgb(8, 155, 8);
}

.card-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.item-con{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.weight{
    text-align: left;
}

.price{
    text-align: right;
}

.item-con{
    padding: 0;
    margin-bottom: 10px;
}
