.table-column{
    width: 200px;
}

.table-column-2{
    width: 300px;
}

.table-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px, rgba(0, 0, 0, 0.25) 0px 4px 6px -2px;
}

.table-body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
}


.table-head{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: rgb(5, 199, 5);
}

.img-product{
    width: 40px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.left-image{
    text-align: left;
}