.cart-title{
    text-align: center;
    margin-top: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;

    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.cartDetail-container{
    width: 60%;
    /* background-color: #0f0; */
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.cartDetail-column-2{
   margin-bottom: 8px;
}

.continue-shopping-btn{
    font-size: 11px !important;
}

.sign-out-btn{
    margin-right: 10px;
}

.btn-continue{
    position: relative;
    top: -5px;
    box-shadow: rgba(149, 157, 165, 0.363) 0px 8px 24px;
}