.footer-outer{
    /* width: 100%; */
    background-color: #202020 !important;
    padding: 3% 10% 4% 10%;
    /* height: 360px !important; */
}

/* .down-col{
    width: 50%;
    padding: 0;
} */

.down-col-1{
    text-align: left;
}

.down-col-2{
    text-align: right;
}

.brand-name{
    font-size: 30px;
    font-weight: bold;
    color: #0f0 !important;
    text-decoration: none;
}
.header-brand-name{
    font-size: 25px;
    font-weight: bold;
    color: #0f0 !important;
    text-decoration: none;
}

.quick-link-item{
    font-size: 12px;
    /* color: #fff; */
}

.quick-link-item{
    color: rgba(255, 255, 255, 0.637) !important;
    text-decoration: none !important;
}
.quick-link-item:hover{
    color: rgb(8, 155, 8) !important;
}

.quick-links{
    font-size: 13px;
    color: #fff !important;
    font-weight: bold;
    cursor: default;
}


hr {
  border-top: 2px solid #0f0 !important;
}

button{
    background-color: transparent;
    border: none;
    color: rgb(8, 155, 8);
}
button:hover{
    color: #0f0;
}

.fb-btn-last{
    margin-right: 0 !important;
}

.fb-main-btn-last{
    padding-right: 0;
}

.copyright{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.637);
    cursor: default;
}
