.outer-login{
    height: 100vh;
    min-width: 100%;
}

.login-right{
    position: relative;
    padding: 0;
    background-color: #635E5E;
    width: 50%;
    height: 100vh;
    flex-direction: column;
}

.login-left{
    position: relative;
    padding: 0;
    width: 50%;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:hidden;
}

.login-Image{
    width: 100%;
    mix-blend-mode: darken;
}

.login-header{
    text-align: left;
    /* position: relative; */
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: rgb(5, 199, 5);
}

.align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.582);
    min-width: 420px;
    width: auto;
    padding: 3%;

}

.login-row-4, .login-row-5{
    width: 100%;
}

.login-row-0{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.login-title{
    font-family: Roboto;
    font-style: normal;
    font-size: 21px;
    color: #fff;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}

.login-title-1{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: -5px;
}

.login-title-2{
    font-size: 21px;
    margin-bottom: 10px;
}

.create-account{
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.create-account-btn{
    border-radius: 40px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    color: #948989 !important;
    padding: 6px 12px !important;
    height: 35px;
    background-color: rgb(5, 199, 5);
    border-color: rgb(5, 199, 5);
}


.create-account-btn:hover{
    background-color: rgb(8, 155, 8);
    border-color: rgb(8, 155, 8);
}