.outer-nav{
    position: relative;
    background-color: #554C4C !important;
    height: 40px !important;
}

.main-nav{
    width: 550px;
}

.nav-title-2{
    width: 80px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 0;
    text-align: center;
    padding: 0;
    color: #fff !important;
}
.nav-title-2:hover{
    color: rgba(0, 255, 0, 0.733) !important;
}

.outer-nav{  
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}
/* .outer-nav {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
} */