.main-nav{
    width: 100%;
}

.nav-title-2{
    min-width: 100px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 0;
    text-align: center;
    padding: 0;
    color: #ebebeb !important;
}
.nav-title-2:hover{
    color: rgba(0, 255, 0, 0.733) !important;
}

.outer-nav{
    position: sticky;
    background-color: #202020;
    height: 60px !important;
    top: -1px;
    z-index: 1;
    /* transition-timing-function: ease-in-out; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.cart{
    cursor: pointer;
    /* margin-left: auto; */
    /* margin-right: 0; */
    position: fixed;
    bottom: 10px;
    right: 30px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 56px;
}

.cart-icon{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    border: none !important;
}
.ignore-btn{
    position: relative;
    background-color: transparent !important;
    border: none;
    text-align:  center;
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 0);
}
.ignore-btn::after{
    border-color: transparent;
}
.ignore-btn:hover{
    color: rgb(3, 212, 3);
}

.cartProductExist{
    position: absolute;
    right: -5px;
    top: 0px;
    background-color: #f00;
    border-radius:15px;
    height: 25px;
    width: 25px;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.185));
}

.cartProductCountRel{
    position: relative;
}
.cartProductCount{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.767);
    position: absolute;
    top: -15px;
    right: -2px;
    text-align: center !important;
}
.to-cart-btn{
    /* margin-right: 15px; */
}

.ignore-btn{
    padding: 4px 6px 5px 6px !important;
}