.payment-form{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #554C4C;
    padding: 30px 20px;
    /* border-radius: 15px; */
    margin-bottom: 20px;
    font-family: Roboto !important;
    font-size: 14px;
    border-radius: 0% !important;
}

.form-container{
    margin-bottom: 200px;
}

.pay-now-btn{
    margin-top: 6px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 0% !important;
}

.payment-field-title{
    color: #fff;
    font-size: 16px;
    margin-bottom: 2px;
}

.btn-square{
    border-radius: 0%;
}