.outer-popular{
    height: auto;
    width: 70%;
    /* margin-bottom */
    margin-bottom: 170px;   
    padding-top: 20px;
    padding-bottom: 30px;    
    background-color: rgb(180, 27, 40);
    box-shadow: rgba(60, 64, 67, 0.6) 0px 1px 2px 0px, rgba(60, 64, 67, 0.3) 0px 1px 3px 1px !important; 
}


.row-1{
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;

    color: #ffffff;
    margin-bottom: 20px;
}


.column{
    justify-content: space-around;
    padding: 0;
}