.navbar-u{
    background-color: #3b3737;
    height: 30px;
}


.nav-title-1{
    cursor:default;
    width: 300px;
    justify-content:center;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 0;
    color: rgba(0, 255, 0, 0.603) !important;
}

.sign-out-btn{
    margin-right: 3px;
}

.log-out-btn{
    color: rgba(0, 255, 0, 0.603) !important;
    border-color: transparent !important;
    border-width: 2px !important;
    background-color: transparent !important;
    padding: 3px 6px !important;
    font-size: 11px !important;
}

.log-out-btn:hover{
    color: #fff !important;
    background-color: rgb(8, 155, 8) !important;
    border-color: rgb(8, 155, 8) !important;
}
