.navbar{
    background-color: #635E5E;
    height: 30px;
}


.nav-title-1{
    width: 300px;
    justify-content:center;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 0;
    color: rgba(0, 255, 0, 0.541) !important;
}

.sign-out-btn{
    margin-right: 3px;
}

Button{
    color: rgba(0, 255, 0, 0.541) !important;
    border-color: rgba(0, 255, 0, 0.541) !important;
    border-width: 2px !important;
    background-color: transparent !important;
    padding: 3px 6px !important;
    font-size: 11px !important;
}

Button:hover{
    background-color: rgba(0, 255, 0, 0.541) !important;
    color: #fff !important;
}